/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* table {
     border-collapse: collapse;
 }

 table, th, td {
     border: 1px solid black;
 }

 th, td {
     text-align: center;
     padding: 8px;
 }
 th {
   background-color: #12E3C0;
 }


 tr:hover {background-color: #f5f5f5;} */

 table, th, td {
  border: 1px solid black;
 }

 .table {
   border-collapse: collapse;
 }

 .table thead {
   background-color: gray;
 }

 .table tbody {
   display: block;
   height: 200px;
   overflow-y: scroll;
 }

 .table tr {
   display: block;
 }

 .table td {
  width: 130px;
  word-wrap: break-word;
  max-width: 130px;
  overflow: hidden;
}
